<footer class="page-footer">
    <div class="text-center">
        <div class="row">
            <div class="col s12">
                <p class="center-align">SIT725 © 2024 Deakin University</p>
            </div>
        </div>
    </div>
</footer>

<!--JavaScript at end of body for optimized loading-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
</body>

</html>