<footer class="footer text-center text-lg-start">
    <div class="container p-0">
        <p class="text-center text-muted">&copy; 2024 AgriSmart AI. All Rights Reserved.</p>
    </div>
</footer>



<!-- Add closing body and html tags -->
</body>
</html>
