<div class="side-menu">
    <ul class="menu-list">
        <li><a href="/dashboard"><i class="fas fa-tachometer-alt"></i><span class="menu-text">Dashboard</span></a></li>
        <li><a href="/crop-management"><i class="fas fa-seedling"></i><span class="menu-text">Crop Management</span></a></li>
        <li><a href="/crop-analytics"><i class="fas fa-chart-line"></i><span class="menu-text">Analytics</span></a></li>
    </ul>
</div>
<div class="gray-overlay" id="gray-overlay">
    <div class="loading-icon" id="loading-icon" style="display: none; ">
        <i class="fas fa-spinner fa-spin"></i>
    </div>
</div>